body {
  background: #000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;  
}

.CONTAINER {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  z-index: 1;
  line-height: 1;
}

.LOGO {
  background: #fff;
  background-image: url('https://b.top4top.io/p_3534fwfss0.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0%;
  height: 150px;
  width: 150px;
  margin-top: 10vh;
  margin-bottom: 0vh;
  animation: rollRandom 5s ease-in-out;
}

.WHOAMI {
  font-family: "Iceland";
  font-size: 2rem;
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 10px #ee0505;
  letter-spacing: 5px;
  margin-top: 2vh;
  margin-bottom: 0vh;
  animation: glitchText 1s infinite;
}

.GROUP {
  font-family: "Iceland";
  font-size: 1.25rem;
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 10px #ee0505;
  letter-spacing: 5px;
  margin-top: 1vh;
  margin-bottom: 0vh;
  animation: rollRandom 10s ease-in-out;
}

.MSG {
  font-family: "Iceland";
  font-size: 1rem;
  font-style: italic;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 1vh;
  margin-bottom: 0vh;
}
    
.TEAM {
  font-family: "Iceland";
  font-size: 1rem;
  color: #f30202;
  text-align: center;
  text-shadow: 0px 0px 15px #fdec13;
  letter-spacing: 2px;
  margin-top: 3vh;
  margin-bottom: 0vh;
}

.MUSIC {
  height: 50px;
  width: 300px;
  margin-top: 2vh;
  margin-bottom: 0vh;
}

.COPY {
  font-family: "Iceland";
  font-size: 1rem;
  color: #ee0505;
  text-align: center;
  text-shadow: 0px 0px 10px #ee0505;
  letter-spacing: 2px;
  margin-top: 2vh;
  margin-bottom: 10vh;
}

@keyframes rollRandom {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(300px, -200px) rotate(180deg);
  }
  50% {
    transform: translate(-250px, 150px) rotate(360deg);
  }
  75% {
    transform: translate(200px, 100px) rotate(540deg);
  }
  100% {
    transform: translate(0, 0) rotate(720deg);
  }
}

@keyframes glitchText {
  0% {
    text-shadow: 2px 1px #ff0000, -2px -1px #00ffff, 2px -1px #ff00ff;
  }
  20% {
    text-shadow: -2px 1px #ff0000, 2px -1px #00ffff, -2px 1px #ff00ff;
  }
  40% {
    text-shadow: 2px -1px #ff0000, -2px 1px #00ffff, 2px 1px #ff00ff;
  }
  60% {
    text-shadow: -2px -1px #ff0000, 2px 1px #00ffff, -2px -1px #ff00ff;
  }
  80% {
    text-shadow: 2px 1px #ff0000, -2px -1px #00ffff, 2px -1px #ff00ff;
  }
  100% {
    text-shadow: 0 0 #ff0000, 0 0 #00ffff, 0 0 #ff00ff;
  }
}
